div.stApp{
    background-image: linear-gradient(120deg, #fdfbfb 0%, #bee9ff 100%);
}
div.st-emotion-cache-17ypgft{
    background-image: linear-gradient(120deg, #c0d8ff 0%, #c2e9fb 100%);
    color: black;
    border-radius: 15px;
    text-align: center;
}
span.e1nzilvr1 {
    color: black;
}
p{
    color: rgb(27, 61, 105);
}
section.e1b2p2ww15{
    background-image: linear-gradient(to top, #fff1ea 0%, #ace0f9 100%);
    color: black;
}
div.e1nzilvr4{
    border-radius: 10px;
}

button.st-emotion-cache-19rxjzo {
    background-color: #c2e9fb;
}


button.st-emotion-cache-19rxjzo:hover {
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
    color: black;
     
    border-color: black;

}

small.st-emotion-cache-7oyrr6 {

    color: black;
}


div.st-af{
    background-color: white;
    color: black;
}

h3#chat{
    display: none;
}


p {
    display: none;
}




div.st-emotion-cache-sh2krr {
    display: none;
}

label.st-emotion-cache-1qg05tj {
    display: none;
}

img {
    display: none;
}

input {
    color: black;
}

input.st-bx{
    color: black;
}